<!--- Start Container ---><div class="container">
<div>
  <h1>お問い合わせ</h1>
</div>
  

<%= form_for @inquiry, url: {action: 'confirm'} do |f| %>
  <% if @inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inquiry.errors.count, "") %>件の未入力項目があります。</h2>

      <ul class="validation_wrapper">
      <% @inquiry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :会社名%>
    <%= f.text_field :company_name%>
  </div>
  <div class="field">
    <%= f.label :お名前 %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :電話番号 %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :問合せ内容 %>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit '確認' %>
  </div>
<% end %>

<!--- //END Container ---></div>